/*Här lägger jag in ett typsnitt*/
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

/*generella utseenden på alla element samt typsnitt*/
* {
  margin: 0px;
  border-width: 0px;
  padding: 0px;
  font-family: "Bree Serif";
}

.allHome {
  background-image: url("./images/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*färger på headern och dess storlek och position*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12%;
  height: 100px;
  border-bottom: #197beb solid 8px;
}

/*här dekorerar jag endast länkarna i headern*/
.header a {
  text-decoration: none;
  color: #f58617;
}

/*skapar en reaktion när man håller musen över länkarna i nav samt vad som ska hända*/
.header-mid a:hover {
  color: #fff;
  transition: 0.35s;
}

/*Väljer placering för header-left och dess färg*/
.header-left {
  display: flex;
  align-items: center;
  gap: 10%;
}

.header-left a {
  margin-left: 20px;
  font-size: 35px;
}

/*Skapar strecket till vänster i headern*/
.header-left div {
  height: 75px;
  width: 5px;
  border-radius: 3px;
  margin-top: 5px;
  background-color: #ff8000;
}

.header-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
  width: 50%;
  font-size: 22px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 7%;
}

.header-right img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 50px;
}

.Membership {
  position: relative;
  display: inline-block;
}

/*Ger knappen utseende och dess position*/
.MemberDrop {
  font-size: 17px;
  color: #fff;
  background-color: #197beb;
  width: 120px;
  height: 50px;
  border-radius: 10px;
}

/*Ger denna del specifika egenskaper för att
kunna anpassas utan flexbox samt ger den positionering för att få knappen att bete sig som den ska.*/
.MemberCont {
  display: none;
  position: absolute;
  background-color: #fff;
  border: #000 solid 2px;
  width: 150px;
}

/*Detta får MemberCont att visas när man håller musen över Membership*/
.Membership:hover .MemberCont {
  display: block;
}

.MemberCont a {
  display: block;
  padding: 5px 20px;
  color: #d17a22;
}

.MemberCont a:hover {
  background-color: #566e3d;
  transition: 0.35s;
}

/*
BODY
BODY
BODY
BODY
BODY
BODY
BODY
*/

.contHome {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  width: 100%;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 100px;
  min-width: 400px;
}

.designImg {
  width: 450px;
  height: 300px;
  border: solid #ff8000 6px;
  border-radius: 10px;
}

.design-all {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.design a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.design-all .designText {
  width: auto;
  position: absolute;
  opacity: 0;
  transition: all 0.45s ease;
  color: #fff;
  font-size: 30px;
}

.design:hover .designText {
  opacity: 1;
}

.design:hover .designImg {
  opacity: 0.5;
  transition: all 0.5s ease;
}

.tool {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  gap: 100px;
  min-width: 400px;
}

.contImg {
  width: 500px;
  height: 400px;
}

.toolImg {
  width: 450px;
  height: 300px;
  border: solid #ff8000 6px;
  border-radius: 10px;
}

.tool-all {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tool a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.tool-all .toolText {
  width: auto;
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease;
  color: #fff;
  font-size: 30px;
}

.tool:hover .toolImg {
  opacity: 0.5;
  transition: all 0.5s ease;
}

.tool:hover .toolText {
  opacity: 1;
}

.moreCont {
  width: 60%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  column-gap: 100px;
  margin-bottom: 10%;
}

.moreCont a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #566e3d;
  border: solid #fff 5px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 26px;
}

.moreCont a:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.grid-about {
  grid-row: 1 /2;
  grid-column: 1 / 2;
}

.grid-sponsor {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.grid-leather {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.grid-faq {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.grid-gallery {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

/*
ABOUT
ABOUT
ABOUT
ABOUT
ABOUT
ABOUT
ABOUT
*/

.allAbout {
  background-color: #566e3d;
}

.headerOther {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12%;
  height: 100px;
  border-bottom: #197beb solid 8px;
}

.headerOther a {
  text-decoration: none;
  color: #f58617;
}

.about {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 50px;
  margin-left: 25%;
  text-decoration-color: #197beb;
  text-align: center;
  border: 15px groove #ff8000;
}

.about img {
  align-self: center;
  max-width: 80%;
}

.about h1 {
  font-size: 50px;
  color: #000;
  text-shadow: 2px 4px 4px #ff8000;
  margin-bottom: 5%;
}

.about h2 {
  color: #000;
}

.about h3 {
  color: #000;
  font-size: 30px;
}

.about p {
  color: #000;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: 15%;
  margin-right: 15%;
}
footer {
  height: 350px;
  width: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

footer h2 {
  margin-top: 100px;
  color: #fff;
}

footer a {
  color: #fff;
}

footer p {
  justify-self: flex-end;
  align-self: flex-start;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.moreAbout {
  color: #fff;
  display: flex;
  gap: 50px;
}

/*
FAQ
FAQ
FAQ
FAQ
FAQ
FAQ
FAQ
FAQ
*/

.faq {
  margin-top: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 10%;
}

.faq h1 {
  color: #ff8000;
  text-decoration-line: overline;
}

.question {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}

.question a {
  color: red;
}

/*
PHOTO GALLERY
PHOTO GALLERY
PHOTO GALLERY
PHOTO GALLERY
PHOTO GALLERY
PHOTO GALLERY
PHOTO GALLERY
*/
.gallery-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: rgb(78, 78, 78);
}

.gallery-all h1 {
  color: #ff8000;
  margin-top: 50px;
}

.gallery {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 200px);
  gap: 10px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.img1 {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}
.img2 {
  grid-row: 1 / 4;
  grid-column: 3 / 5;
}
.img3 {
  grid-row: 1 / 3;
  grid-column: 5 / 7;
}
.img4 {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}
.img5 {
  grid-row: 3 / 5;
  grid-column: 5 / 7;
}
.img6 {
  grid-row: 4 / 6;
  grid-column: 1 / 5;
}
.img7 {
  grid-row: 5 / 6;
  grid-column: 5 / 7;
}
.img8 {
  grid-row: 6 / 8;
  grid-column: 1 / 4;
}
.img9 {
  grid-row: 6 / 8;
  grid-column: 4 / 6;
}
.img10 {
  grid-row: 6 / 7;
  grid-column: 6 / 7;
}
.img11 {
  grid-row: 7 / 8;
  grid-column: 6 / 7;
}

.foot-gallery {
  width: 100%;
  height: 150px;
  background-color: rgb(78, 78, 78)
}

/*
Products
Products
Products
Products
Products
Products
Products
*/

.template-all {
display: flex;
justify-content: center;
background-color: #566e3d;
}

.template {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 50%;
  color:#fff;
  text-align:center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.template img {
  border: #ff8000 solid 5px;
  border-radius: 15px;
  width: 70%;
}

.vertline {
  height: 100%;
  width: 8px;
  background-color: #ff8000;
}

.foot-prod {
  width: 100%;
  height: 100%;
  background-color: black;
}

.buy {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 120px;
  height: 40px;
  background-color: #197beb;
  color: #fff;
  border-radius: 5px;
  border: solid #ff8000 3px;
  text-decoration: none;
}
 .stock {
   text-decoration: underline #ff8000 3px;
 }


/*
GUIDE
GUIDE
GUIDE
GUIDE
GUIDE
GUIDE
*/

.guide {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.guide-cont {
  width: 50%;
}


/*
LOGIN
LOGIN
LOGIN
LOGIN
LOGIN
LOGIN
*/


.login-all { 
  width: 40%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  border: #ff8000 solid;
  margin-top: 20%;
  margin-left: 30%;
}

#sign {
  border: solid #000 1px;
}

#log {
  border: #000 solid 1px;
}