/*Här lägger jag in ett typsnitt*/
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

/*generella utseenden på alla element samt typsnitt*/
* {
  margin: 0px;
  border-width: 0px;
  padding: 0px;
  font-family: "Bree Serif";
}

/*färger på headern och dess storlek*/
header {
  /*testa att ta bort stycket*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 12%;

  background-color: #fff;
  height: 100px;
  border-bottom: #3d1189 solid 6px;
  border-top: #3d1189 solid 6px;
}

/*här dekorerar jag endast länkarna i headern*/
header a {
  text-decoration: none;
  color: #d17a22;
}

/*skapar en reaktion när man håller musen över länkarna i nav samt vad som ska hända*/
nav a:hover {
  color: #000;
  transition: 0.35s;
}

/*Väljer placering för header-left och dess färg*/
.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  width: auto;

  font-size: 35px;
}

/*Skapar strecket till vänster i headern*/
.header-left div {
  height: 75px;
  width: 5px;
  border-radius: 3px;

  margin-top: 5px;
  background-color: #d17a22;
}

.header-mid {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  column-gap: 7%;
  height: auto;
  width: 50%;
  font-size: 22px;
}

.Membership {
  position: relative;
  display: inline-block;
  margin-right: 5%;
  width: auto;
  height: auto;
}

/*Ger knappen utseende och dess position*/
.MemberDrop {
  font-size: 17px;
  color: #fff;
  background-color: #3d1189;
  width: 120px;
  height: 50px;
  border-radius: 10px;
}

/*Ger denna del specifika egenskaper för att
kunna anpassas utan flexbox samt ger den positionering för att få knappen att bete sig som den ska.*/
.MemberCont {
  display: none;
  position: absolute;
  background-color: #fff;
  border: #000 solid 2px;
  border-radius: 3px;
  height: auto;
}

/*Detta får MemberCont att visas när man håller musen över Membership*/
.Membership:hover .MemberCont {
  display: block;
}

.MemberCont a {
  display: block;
  color: #d17a22;
  font-size: 17px;
}

.MemberCont a:hover {
  background-color: #566e3d;
  transition: 0.35s;
}

/*BODY*/


/*Ger denna del specifika egenskaper för att
kunna anpassas utan flexbox samt ger den positionering för att få knappen att bete sig som den ska.*/
.MemberCont {
  display: none;
  position: absolute;
  background-color: #fff;
  border: #000 solid 2px;
  border-radius: 3px;
  width: 150px;
}

/*Detta får MemberCont att visas när man håller musen över Membership*/
.Membership:hover .MemberCont {
  display: block;
}

.MemberCont a {
  display: block;
  padding: 5px 20px;
  color: #d17a22;
}

.MemberCont a:hover {
  background-color: #566e3d;
  transition: 0.35s;
}

/*BODY*/

.topHome {
  display: flex;
  justify-content: center;
  gap: 20%;
}

.vertline {
  width: 10px;
  height: 1500px;
  background-color: #3d1189;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.products {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}



.products:hover, .prodImg {
  transition: 0.35s ease-in-out;
}

.leather {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.topHome a{
  text-decoration: none;
  color: #000;
}

.products img {
  width: 400px;
  border-radius: 20px;
  border: #566e3d solid 5px;
  transform: scale(1.1);
}

.topHome ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
}